<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>ACL</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="images/logo.webp"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="https://www.aclti.com/es/"><img src="images/icon.png" class="image-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Acerca</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Servicios</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <img src="images/post_6.jpg" class="col-md-5  float-md-end image-banner" alt="...">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <div class="text-center my-5">
                    <h1 class="display-8 fw-bolder text-white mb-2">Presenta tu informaci&oacute;n</h1>
                    <p class="lead text-white-50 mb-4">Completa los formularios para el comienzo de una nueva carrera
                        profesional!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Form section-->

<section class="bg-light py-5">
    <div class="row gx-8 justify-content-center">
        <div class="col-lg-8">
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->

            <!--                ==================================================================================-->
            <form class="row g-3" id="informationForm" th:action="@{/professional/save}" th:object="${person}"
                  method="post"
                  data-sb-form-api-token="API_TOKEN">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required minlength="4">
                </div>
                <div class="col-md-6">
                    <label for="lastname" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="lastname">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Número Telefónico</label>
                    <input type="tel" class="form-control" id="phone" placeholder="(123) 456-7890"
                           data-sb-validations="required">
                    <div class="invalid-feedback" data-sb-feedback="phone:required">Su número de teléfono es requerido.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo Elect.</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <!--                si se requiere direccion personal   -->
                <!--                <div class="col-12">-->
                <!--                    <label for="Address" class="form-label">Dirección particular</label>-->
                <!--                    <textarea class="form-control" id="Address" type="text" placeholder="Enter your message here..."-->
                <!--                              style="height: 10rem" data-sb-validations="required"></textarea>-->
                <!--&lt;!&ndash;                    <input type="textareas" class="form-control" id="inputAddress2" placeholder="Ciudad, Apartmento ...">&ndash;&gt;-->
                <!--                </div>-->
                <div class="col-md-6">
                    <label for="inputCountry" class="form-label">Nacionalidad</label>
                    <input type="text" class="form-control" id="inputCountry">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">País de residencia</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Ciudad</label>
                    <select id="inputState" class="form-select">
                        <option selected>Escoge una opción...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputCommune" class="form-label">Comuna</label>
                    <select id="inputCommune" class="form-select">
                        <option selected>Escoge una opción...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputCollege" class="form-label">Universidad</label>
                    <input type="text" class="form-control" id="inputCollege">
                </div>

                <div class="col-12 mb-3 mt-2">
                    <div class="checkbox" data-toggle="collapse">
                        <input class="form-check-input mb-3" type="checkbox" aria-controls="collapseSchool"
                               id="schoolCheck" data-bs-toggle="collapse"
                               data-bs-target="#collapseSchool" aria-expanded="false">
                        <label class="form-check-label" for="schoolCheck">
                            Casa de Estudios
                        </label>
                    </div>
                    <div class="collapse" id="collapseSchool">
                        <div class="card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <!--                </span>-->

                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Formulario registrado con exito!</div>
                        <br/>
                        <!--                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <div class="d-grid col-6">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar Información</button>
                </div>
                <div class="d-grid col-6">
                    <button class="btn btn-secondary btn-lg" id="cancelButton" onclick="cancelForm()" type="button">
                        Regresar
                    </button>
                </div>
            </form>
        </div>
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Cualquier duda puede contactarnos</h2>
                <p class="lead mb-0">Estaremos encantados de ayudarle</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]";
    }
</script>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
