<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>ACL</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="images/logo.webp"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="https://www.aclti.com/es/"><img src="images/icon.png" class="image-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Acerca</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Servicios</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <img src="images/post_6.jpg" class="col-md-5 d-none d-lg-block float-md-end image-banner" alt="...">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <div class="text-center my-5">
                    <h1 class="display-8 fw-bolder text-white mb-2">Presenta tu informaci&oacute;n</h1>
                    <p class="lead text-white-50 mb-4">Completa los formularios para el comienzo de una nueva carrera
                        profesional!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Form section-->

<section class="bg-light py-5">
    <div class="row gx-8 justify-content-center">
        <div class="col-lg-8">
            <!-- to get an API token!-->
            <!--      data-sb-form-api-token="API_TOKEN"      =======================================================-->
            <form th:action="@{/professional/save}" class="row g-3" id="informationForm" th:object="${perfil}"
                  method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required minlength="4">
                </div>
                <div class="col-md-6">
                    <label for="lastname" class="form-label">Apellidos</label>
                    <input type="text" th:field="*{apellidos}" class="form-control" required minlength="4"
                           id="lastname">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Número Telefónico</label>
                    <input type="tel" th:field="*{telefono}"  pattern="^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$"
                           class="form-control" id="phone" placeholder="(123) 456-7890"
                           required>
                    <div class="invalid-feedback">Su número de teléfono es requerido.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Correo Elect.</label>
                    <input type="email" th:field="*{correo}" class="form-control" id="email">
                </div>
                <div class="col-md-6">
                    <label for="inputCountry" class="form-label">Nacionalidad</label>
                    <input type="text" th:field="*{nacionalidad}" class="form-control" id="inputCountry">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">País de residencia</label>
                    <input type="text" th:field="*{paisResidencia}" class="form-control" id="inputCity">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Ciudad</label>
                    <select  th:field="*{ciudad}" id="inputState" class="form-select">
                        <option value="0" selected>Escoja una opción...</option>
                        <option value="chile">Chile</option>
                        <option value="canada">Canada</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="inputDateBirth" class="form-label">Fecha de Cumplea&nacute;os</label>
                    <input th:field="*{fechaNacimiento}" id="inputDateBirth" class="form-control" type="date"/>
                </div>
                <div id="comuna_chile" class="col-md-6 visually-hidden">
                    <label for="inputCommune" class="form-label">Comuna</label>
                    <select th:field="*{comuna}" id="inputCommune" class="form-select">
                        <option value="0" selected>Escoja una opción...</option>
                        <option value="comuna">Comuna</option>
                    </select>
                </div>
                <nav>
                    <div class="nav nav-tabs  justify-content-center" id="nav-tab" role="tablist">
                        <button class="nav-link active col-md-6" id="nav-ti-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ti" type="button" role="tab" aria-controls="nav-ti"
                                aria-selected="true">Casa de estudios
                        </button>
                        <button class="nav-link col-md-6" id="nav-skill-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-skill"
                                type="button" role="tab" aria-controls="nav-skill" aria-selected="false">Habilidades
                            Individuales
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane  fade show active" id="nav-ti" role="tabpanel" aria-labelledby="nav-ti-tab"
                         tabindex="0">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="inputTimeSheet" class="form-label">Turno de Horario</label>
                                <select th:field="*{horario}" id="inputTimeSheet" class="form-select">
                                    <option value="0" selected>Escoge una opción...</option>
                                    <option value="Diurno">Diurno</option>
                                    <option value="Vespertino">Vespertino</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="inputDate" class="form-label">Fecha de Egresado</label>
                                <input th:field="*{fechaEgreso}" id="inputDate" class="form-control" type="date"/>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCollege" class="form-label">Universidad</label>
                                <input th:field="*{universidad}" type="text" class="form-control" id="inputCollege">
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label for="inputTi" class="form-label">Carreta TI</label>
                                <select th:field="*{carreraTi}" id="inputTi" class="form-select">
                                    <option value="0" selected>Escoge una opción...</option>
                                    <option value="ing.soft">Ing. Software</option>
                                    <option value="ing.inf">Ing. Informática</option>
                                    <option value="tec.inf">Técnico Informático</option>
                                </select>
                            </div>
                            <div class="container-sm">
                                <div class="col-sm-6 form-check form-switch my-md-2">
                                    <input th:field="*{esPractica}" class="form-check-input" type="checkbox" role="switch" id="practicaP">
                                    <label class="form-check-label" for="practicaP">Requiere Práctica
                                        Profesional</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab"
                         tabindex="0">
                        <div class="row">
                            <div class="col-sm-6 mt-2">
                                <label for="inputProgL" class="form-label">Lenguajes de Programación</label>
                                <select th:field="*{lenguajesProgramacion}" id="inputProgL" class="form-select">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="java">Java</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label for="inputBD" class="form-label">Bases de Datos</label>
                                <select th:field="*{basesDatos}" id="inputBD" class="form-select">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="sql">SQL</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label for="inputLang" class="form-label">Idiomas</label>
                                <select th:field="*{idiomas}" id="inputLang" class="form-select">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="eng">Inglés</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <label for="inputFw" class="form-label">Frameworks</label>
                                <select th:field="*{frameworks}" id="inputFw" class="form-select">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="node">Node</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar Información</button>-->
                <!--                </span>-->
                <!-- Submit success message-->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Formulario registrado con exito!</div>
                        <br/>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <div class="d-grid col-6">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar Información</button>
                </div>
                <div class="d-grid col-6">
                    <button class="btn btn-secondary btn-lg" id="cancelButton" onclick="cancelForm()" type="button">
                        Regresar
                    </button>
                </div>
            </form>
        </div>
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Cualquier duda puede contactarnos</h2>
                <p class="lead mb-0">Estaremos encantados de ayudarle</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]";
    }
</script>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!--<script src="js/scripts.js"></script>-->
<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
</body>
</html>
