<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="P&aacute;gina de presentaci&oacute;n para el registro y captaci&oacute;n de profesionales j&oacute;venes.">
    <meta name="author" content="ACL">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ACL - Programa de Profesionales J&oacute;venes</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" type="image/x-icon" href="/images/logo.webp"/>
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">

    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Corso</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="/images/icon.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Postularse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#description">Informaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#who">Quienes S&oacute;mos</a>
            </li>

<!--            &lt;!&ndash; Dropdown Menu &ndash;&gt;-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle page-scroll" href="#date" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">DATE</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" href="article-details.html"><span class="item-text">ARTICLE DETAILS</span></a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>-->
<!--                </div>-->
<!--            </li>-->
<!--            &lt;!&ndash; end of dropdown menu &ndash;&gt;-->

            <li class="nav-item">
                <a class="nav-link page-scroll" href="#program">Programa</a>
            </li>
        </ul>
        <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <!--                        <div class="countdown">-->
                    <!--                            <span id="clock"></span>-->
                    <!--                        </div>-->
                    <h1>Comienzan las Postulaciones</h1>
                    <p class="p-large">Completa los formularios para el comienzo de una nueva carrera
                        profesional!</p>
                    <a class="btn-solid-lg page-scroll" href="/form">POSTULAR</a>
                    <!--                        <a class="btn-outline-lg page-scroll" href="#instructor">DISCOVER</a>-->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->

    <!-- Image Slider -->
    <div class="outer-container">
        <div class="slider-container">
            <div class="swiper-container image-slider-1">
                <div class="swiper-wrapper">

                    <!-- Slide -->
                    <div class="swiper-slide" >
                        <img class="img-fluid" src="/images/slide-3.PNG" alt="alternative">
                    </div>
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="/images/slide-2.PNG" alt="alternative">
                    </div>
                    <!-- end of slide -->

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="/images/slide-1.PNG" alt="alternative">
                    </div>
                    <!-- end of slide -->

                </div> <!-- end of swiper-wrapper -->

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
    </div> <!-- end of outer-container -->
    <!-- end of image slider -->

</header> <!-- end of header -->
<!-- end of header -->



<!-- Quienes somos? -->
<div id="who" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="/images/instructor.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Hola, como est&aacute;s?</h2>
                    <p>Somos una emprsa chilena que lleva mas de 30 a&nacute;os liderando el campo tecnol&oacute;gico.</p>
                    <p>Una gran familia que se preocupa por el bienestar de todos sus profesionales</p>
                    <p>Expertos TI, con m&aacute;s de 200 000 HH trabajando en proyectos de desarrollo</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of instructor -->


<!-- Asociaciones -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Algunos de nuestros clientes</p>

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-1.png" alt="BCI">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-2.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-3.svg" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-4.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-5.webp" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid img-partner" src="/images/customer-logo-6.png" alt="alternative">
                            </div>
                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of partners -->


<!-- Descripciones de habilidades -->
<div id="description" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Qu&eacute; vas a aprender?</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled li-space-lg first">
                    <li class="media">
                        <i class="bullet">1</i>
                        <div class="media-body">
                            <h4>Habilidades Laborales</h4>
                            <p>Asistir&aacute;s a Dailys</br>
                                Trabajar&aacute;s en equipo</br>
                                Har&aacute;s presentaciones formales</p>
                        </div>
                    </li>

                    <li class="media">
                        <i class="bullet">2</i>
                        <div class="media-body">
                            <h4>Documentaci&oacute;n t&eacute;cnica</h4>
                            <p>Aprender&aacute;s a armar documentos para diferentes situaciones</p>
                            <p>
                                Manuales de usuario</br>
                                Casos de prueba</br>
                                Evidencias</br>
                            </p>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <ul class="list-unstyled li-space-lg second">
                    <li class="media">
                        <i class="bullet">3</i>
                        <div class="media-body">
                            <h4>Competencias laborales</h4>
                            <p>Se te capacitar&aacute; para que puedas llevar a cabo entrevistas exitosas para proyectos con clientes </p>
                        </div>
                    </li>
                    <li class="media">
                        <i class="bullet">4</i>
                        <div class="media-body">
                            <h4>Herramientas utilizadas</h4>
                            <p>Aprender&aacute;s a utilizar las herramientas que nuestros clientes necesitan para que puedas integrar un equipo de trabajo real</p>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of description -->
    <!-- Video promocional-->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Video Presentation</h2>

                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn">
                                <img class="img-fluid" src="/images/video.jpg" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of video -->

<!-- Programa -->
<div id="program" class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <img src="/images/estructura-programa.png">
                    <!--                        <h2>December 22nd 2020 at Innovation Hub Space</h2>-->
                    <!--                        <p>Our mission is to help people do better SEO. The team is excited to invite you to the next SEO Training Course session which undoubtedly will provide you with the necessary skills to improve your online presence. Fill out the form to register and we'll contact you in less than 24h</p>-->
                    <!--                        <a class="btn-solid-lg page-scroll" href="#register">REGISTER</a>-->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of date -->


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-col first">
                    <h5>About ACL</h5>
                    <p class="p-small">Apasionados amantes de la tecnolog&iacute;a, buscadores constantes del aprendizaje
                        y crecimiento profesional, que te apoyar&aacute;n diariamente en tus m&aacute;s diversos desaf&iacute;os</p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="footer-col second">
                    <h5>Links</h5>
                    <ul class="list-unstyled li-space-lg p-small">
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="terms-conditions.html">Terms & Conditions</a></div>-->
<!--                        </li>-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="privacy-policy.html">Privacy Policy</a></div>-->
<!--                        </li>-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="profile-store-form.html">Formulario</a></div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="footer-col third">
                    <h5>Links</h5>
                    <ul class="list-unstyled li-space-lg p-small">
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="article-details.html">Article Details</a></div>-->
<!--                        </li>-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="terms-conditions.html">Terms & Conditions</a></div>-->
<!--                        </li>-->
<!--                        <li class="media">-->
<!--                            <i class="fas fa-square"></i>-->
<!--                            <div class="media-body"><a href="privacy-policy.html">Privacy Policy</a></div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3">
                <div class="footer-col fourth">
                    <h5>Redes sociales</h5>
                    <p class="p-small">For news & updates follow us</p>
                    <a href="#your-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a href="https://www.aclti.com/es/">ACL</a> - Derechos Reservados
                </p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Scripts -->
<script src="/javascript/multiselect/jquery.min.js"/> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/javascript/jquery.countdown.min.js"></script> <!-- The Final Countdown plugin for jQuery -->
<script src="/javascript/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/javascript/scripts.js"></script> <!-- Custom scripts -->
<script src="/javascript/jquery.magnific-popup.js"/> <!-- Magnific Popup for lightboxes -->
<!--<script src="/javascript/popper.min.js"></script> &lt;!&ndash; Popper tooltip library for Bootstrap &ndash;&gt;-->
<script src="/javascript/multiselect/popper.js"></script>
<script src="/javascript/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/javascript/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<!--multiselect javascript-->
<script src="/javascript/multiselect/select2.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>-->
<script src="/javascript/multiselect/main.js"></script>
<script src="/javascript/scripts.js"></script> <!-- Custom scripts -->
<script src="/javascript/bootstrap.min.js"></script> <!-- Bootstrap framework -->
</body>
</html>